<div class="sign-main">
  <h2 class="sign-title" align="center">Register</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="sign-form">
      <%= f.text_field :name, autofocus: true, class: 'sign-field', placeholder: 'Your name' %>
    </div>
    
    <div class="sign-form">
      <%= f.email_field :email, autocomplete: "email", class: 'sign-field', placeholder: 'Your email' %>
    </div>

    <div class="sign-form">
      <% if @minimum_password_length %>
      <p class="pass-text" align="center">(<%= @minimum_password_length %> characters minimum)</p>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'sign-field', placeholder: 'Your password' %>
    </div>

    <div class="sign-form">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'sign-field', placeholder: 'Confirm Your password'  %>
    </div>
   
    <a class="submit">
      <%= f.submit "Register", class: 'register' %>
    </a>
    
  <% end %>
<br>
  <%= render "devise/shared/links" %>
</div>