<div class="sign-main-login">
  <h2 class="sign-title" align="center">Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="sign-form">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'sign-field', placeholder: 'Your email' %>
    </div>

    <div class="sign-form">
      <%= f.password_field :password, autocomplete: "current-password", class: 'sign-field', placeholder: 'Your password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <p class="pass-text" align="center">Remember me!
        <%= f.check_box :remember_me %></p>
      </div>

    <% end -%>

    <a class="submit">
      <%= f.submit "Login", class: 'register' %>
    </a>

  <% end %>

<%= render "devise/shared/links" %>
</div>
